<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <form action="userAdded" method="post">
            <input type="text" name="userAdded">
            <button type="submit">Submit</button>
        </form>
    </body>

    </html>